Abrimos los archivos ,Leemos los archivos y asignamos a sus variables a lista, al mismo tiempo que los voy cerrando

In [8]:
f=open("nombres_1.txt", "r", encoding="utf-8")

nombresuno =f.read().replace(',', ' ').split()
f.close()
f=open("nombres_2.txt", "r", encoding="utf-8")
nombresdos = f.read().replace(',', ' ').split()
f.close()
f=open("eval1.txt", "r", encoding="utf-8")
eval1 = f.read().replace(',', ' ').split()
f.close()
f=open("eval2.txt", "r", encoding="utf-8")
eval2 = f.read().replace(',', ' ').split()
f.close()

busco si existe nombres similares para mostrarlos en pantalla

In [13]:

print()
print('Estos nombres que se encuentran en ambos archivos:')
nombresEnAmbos = []
for n in nombresuno :
    if n in nombresdos :
        nombresEnAmbos.append(n)    
print(nombresEnAmbos)

Estos nombres que se encuentran en ambos archivos:
["'Agustin'", "'Bautista'", "'CESAR'", "'Diego'", "'ELIANA'", "'Facundo'", "'Facundo'", "'Ignacio'", "'JUAN'", "'Juan'", "'Juan'", "'Marcos'", "'MATEO'", "'Matias'", "'Tomás'", "'Ulises'", "'Yanina'"]

Itero sobre cada nombre y notas, utilizo la funcion zip que nos permite empaquetar en tuplas los elementos para iterar.
El metodo format() inserta dentro del marcador de posición de la cadena que se define mediante corchetes: {}.Permitiendo asi imprimir una tabla con los valores buscados

In [10]:
print('   {:<10}  {:>8} {:>8} {:>8}'.format('Nombre', 'Eval1', 'Eval2', 'Total'))
for i, valor in enumerate(zip(nombresuno, eval1, eval2)) :
    print('{:>2} {:<15} {:<8} {:<8} {:<8}'.format(i, valor[0], valor[1], valor[2], int(valor[1]) + int(valor[2])))

   Nombre         Eval1    Eval2    Total
 0 'Agustin'       81       30       111
 1 'Alan'          60       95       155
 2 'Andrés'        72       28       100
 3 'Ariadna'       24       84       108
 4 'Bautista'      15       84       99
 5 'CAROLINA'      91       43       134
 6 'CESAR'         12       66       78
 7 'David'         70       51       121
 8 'Diego'         29       4        33
 9 'Dolores'       42       11       53
10 'DYLAN'         16       58       74
11 'ELIANA'        3        10       13
12 'Emanuel'       35       13       48
13 'Fabián'        67       34       101
14 'Facundo'       10       96       106
15 'Facundo'       57       71       128
16 'FEDERICO'      11       86       97
17 'FEDERICO'      69       37       106
18 'GONZALO'       12       64       76
19 'Gregorio'      77       13       90
20 'Ignacio'       13       8        21
21 'Jonathan'      86       87       173
22 'Jonathan'      48       14       62
23 'Jorge'         65       14       79
24 'JOSE'          51       49       100
25 'JUAN'          41       27       68
26 'Juan'          87       55       142
27 'Juan'          43       69       112
28 'Julian'        10       77       87
29 'Julieta'       87       59       146
30 'LAUTARO'       91       57       148
31 'Leonel'        15       40       55
32 'LUIS'          44       96       140
33 'Luis'          85       24       109
34 'Marcos'        73       30       103
35 'María'         37       73       110
36 'MATEO'         42       95       137
37 'Matias'        95       19       114
38 'Nicolás'       18       47       65
39 'NICOLÁS'       7        15       22
40 'Noelia'        74       31       105
41 'Pablo'         60       39       99
42 'Priscila'      9        15       24
43 'TOMAS'         65       74       139
44 'Tomás'         93       33       126
45 'Ulises'        63       57       120
46 'Yanina'        74       10       84